<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>ABOUT US</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<body>

<img src="https://logo.com/image-cdn/images/kts928pd/production/93c7faa950d45d6888e7062b32b478fbd9b4f6e4-372x373.png?w=1080&q=72" alt="LA" width="30%">

<div class="text-left w-50 p-3 ">
    <h1>
        Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
    </h1>
</div>
<div class="container-fluid">
 <p>On our website you will be able to find</p>
 <p>a car that meets your expectations...</p>
 <p>...and also fits your budget!!!</p>
</div>
<div class="container-fluid">
    <p>We are proud to be the oldest car dealership company in the US, founded in 1909</p>
    <p>We are based in Oxford, State Idaho</p>
</div>
</body>
</html>