<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>CONTACT US</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<body>

<img src="https://logo.com/image-cdn/images/kts928pd/production/93c7faa950d45d6888e7062b32b478fbd9b4f6e4-372x373.png?w=1080&q=72" alt="LA" width="30%">

<div class="text-left w-50 p-3 ">
    <h1>
        Below you will find our contact details
    </h1>
</div>
<div class="container-fluid">
    <p>Address: Private drive 234, Oxford, Idaho, US</p>
    <p>Telephone number: 4356441245</p>
    <p>e-mail address:</p>
    <a href="#">best_cars@yahoo.com</a>
</div>
</body>
</html>